<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="databaseConfiguration" type="Jasen.Framework.Configuration.DatabaseConfigurationSection, Jasen.Framework"/>
  </configSections>
  <databaseConfiguration>
    <settings default="Sqlite" multiple="false">
      <add name="Oledb" connectionString="Provider=Microsoft.Ace.OleDb.12.0;Data Source=C:\\access.accdb;Persist Security Info=False;" providerName="System.Data.OleDb" commandTimeout="60"/>
      <add name="Sqlite" connectionString="Data Source=C:\\Databases\\SysData.db3;Pooling=True;Max Pool Size=100;" providerName="System.Data.SQLite" commandTimeout="60"/>
      <add name="SqlServer" connectionString="Data Source=JASEN;Initial Catalog=ReportServer;User ID=sa;Password=sa;" providerName="System.Data.SqlClient" commandTimeout="60"/>
      <add name="Oracle" connectionString="Data Source=XXX;User Id=myUsername;Password=myPassword;" providerName="System.Data.OracleClient" commandTimeout="60"/>
     <add name="Oracle2" connectionString="Data Source=XXX;User Id=myUsername;Password=myPassword;" providerName="Oracle.DataAccess.Client" commandTimeout="60"/>
    </settings>
  </databaseConfiguration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
