<?xml version="1.0"?>
<configuration>
  <connectionStrings> 
     <add name="Oracle_JK_LAB" connectionString="Data Source=JK_LAB;User Id=jasenkin;Password=jasenkin;Pooling =true; Min Pool Size=10;Max Pool Size=100;"
          providerName="Jasen.Framework.OracleProvider, Jasen.Framework" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
